<!DOCTYPE html>
<html>
  <%- include('../components/head.ejs') %>
  <body>
    <!-- Tstbite Section, P 0 -->
    <section class="tstbite-section p-0">
      <%- include('../components/navbar.ejs') %>
      <div class="container text-center p-5">
        <h5>About Us</h5>
        <div class="d-flex justify-content-center">
          <p class="mt-5 w-50">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
      </div>
      <%- include('../components/footer.ejs') %>
    </section>
  </body>
</html>
