<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Tastebite" />
  <meta name="keywords" content="Tastebite" />
  <meta name="author" content="Tastebite" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <title>Tastebite</title>
  <link
    href="assets/images/favicon.ico"
    rel="shortcut icon"
    type="image/x-icon"
  />
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <script src="https://fabrx.co/preview/tastebite/assets/js/bootstrap.bundle.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"
  ></script>
</head>
